* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.pages{
    height: 100vh; 
}

button{
    position: fixed;
    width: 40%;
    height: 10%;
    background-color: aqua;
}
@media(max-width:700px) {
    .pages {
        background-color: purple;
        display: flex;
        flex-direction: column;
        scroll-snap-type: y mandatory;
        overflow-y: scroll; /* Cambiado a overflow-y */
        height: 100vh; /* Asegúrate de que el contenedor tenga suficiente altura */
    }
    
    section {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        scroll-snap-align: start;
        border: 1px solid red;
    }
}





@media(min-width:700px) {
    .pages {
        background-color: beige;
        display: flex;
    }

    .pages>section {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}